<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<h1>Your Pragmatic Catalog</h1>

<ul class="catalog">
    <% @products.each do |product| %>
  <li>
    <%= image_tag(product.image_url) %> 
    <h2><%= product.title %></h2>
    <p>
      <%= sanitize(product.description) %> <!--Sanitize method allows us to safely add HTML stylings!-->
    </p>
    <div class="price"> 
      <%= number_to_currency(product.price) %> <!-- Helper method to format the price as a currency. Using 
                                                the helper in the view is just as a matter of invoking them as a regular methods!-->
    </div> 
  </li>
  <% end %> 
</ul>
